---
layout: ""
page_title: "Provider: grpc"
description: A Terraform provider to make gRPC requests
---

# gRPC Provider

The [gRPC](https://grpc.io/) provider is used to make stateless gRPC requests.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

**Note**: This provider is experimental and subject to change. PRs welcome! 

- `grpc_request`

{{ .SchemaMarkdown | trimspace }}
